* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #666;
}

body {
    min-width: 320px;
}
header {
    background-color: #EAC926;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #03264C;
    top: calc(100%);
    left: 0px;
    width: 80%;
    z-index: 1;
    max-width: 340px;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

nav ul a{
    padding-left: 30px;
    border-bottom: 1px solid #666;
    height: 3em;
    display: flex;
    align-items: center;
}

nav ul a li {
    width: 100%;
    color: white;
    font-size: large;
    height: fit-content;
}

nav ul a li i{
    color: white;
    margin: 10px;
}

main {
    padding: 0px 5% 20px 5%;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

footer {
    padding: 20px 5% 20px;
    background-color: #fff;
}

main h2 {
    padding-top: 30px;
    font-size: 24px;
    color: #666;
}

article {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

img.img-article {
    width: 70%;
    padding-top: 12px;
    padding-bottom: 12px;
}

img.logo {
    width: 38%;
    display: block;
    margin-left: 0;
    
}

header p {
    text-align: center;
    width: fit-content;
    margin:10px auto;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    
}

header p i{
    color: #000;
}

.burger-menu{
    text-align: center;
    padding-bottom: 15px;
}

.burger-menu i{
    margin: 10px auto 0px auto;
    background-color: #1259c3;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    padding: 10px;


}

section.banner img{
    width: 100%;
}

#site-search{
    width:70%;
    display: block;
    margin: auto;
    position: relative;
    font-size: 15pt;
    border-radius: 5px;
    border: unset;
    text-align: center;
}

header button{
    position: relative;
    top: -24px;
    margin-right: 15%;
    z-index: 2;
    float: right;
    font-size: 15px;
    border: unset;
    border-left: 1px solid #666;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgray;
    height: 24px;
    border-radius: 0px 5px 5px 0px;
}

.precio {
    font-size: 18px;
    color: #000;
    font-weight: bolder;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    font-weight: bolder;
}

.descripcion {
    font-size: 16px;
    font-weight: bolder;
}

.caja-articulo {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

main section article i{
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #fff;
    color: #39b54a;
    position: absolute;
    top: -15px;
    right: 15px;
}

footer section{
    width: 70%;
    margin: 40px auto 0px;
    text-align: center;
}

footer i {
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.copyright { 
    width: 100%;
    border-radius: 0px;
    margin: 60px 0px 0px;
    text-align: left;
}


@media (min-width: 768px){

    main section div.articulos {
        display: flex;
        justify-content: space-between;
    }

    main section div.articulos article {
        width: 22%;
        flex-wrap: wrap;
    }


    main section article:hover i {
        transition: transform 250ms ease-out;
        transform: rotate(-90deg);
    }

    img.logo {
        width: 25%;
        display: inline-block;
    }

    #site-search{
        width: 50%;
        display: inline-block;
        position: relative;
        float: right;
    }

    header button {
        position: absolute;
        float: right;
        top: inherit;
        right: 5%;
        margin: 0px;
    }

    .item-footer{
        max-width: 480px;
    }

    header p{
        font-size:  14px;
    }

}

@media (min-width: 1024px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }

    .item-footer{
        width: 20%;
    }
    
    .copyright{
        width: 100%;
    }

    .burger-menu{
        display: none;
    }

    nav {
        position: inherit;
        flex-direction: row;
        background-color: unset;
        max-width: none;
        width: 100%;
        padding-bottom: 14px;
    }

    nav ul{
        flex-direction: row;
    }
    
    nav ul a{
        border: none;
        margin-left: 30px;
        padding-left: 0px;
    }

    nav ul a:hover li{
        color: grey;
    }

    nav ul a:hover li i{
        color: grey;
    }

    nav ul a li{
        color: black;
    }

    nav ul a li i{
        color: black;
    }

    header p{
        width: 100%;
        font-size:  16px;
    }

    #site-search{
        height: fit-content;
        margin: 0px;
        max-width: 500px;
    }
}

